//
   Created with JetBrains WebStorm.
   User: Maksim.Kanev
   Date: 6/3/13
   Time: 3:23 PM
   To change this template use File | Settings | File Templates.

footer.footer
    .container
        .row
            .span12
                .footer-widgets
                    span something
                .copyright
                    .row
                        .span6
                            span ©
                            span.current-year
                            span Проект "Кураторство в ЛЭТИ"
                            span |
                            a(href='#') Privacy Policy
                        .span6