//
   Created with JetBrains WebStorm.
   User: Maksim.Kanev
   Date: 6/3/13
   Time: 2:01 PM
   To change this template use File | Settings | File Templates.
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.6/bootstrap-lightbox.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/wysihtml5/0.3.0/wysihtml5.min.js')
script(src='js/lib/bootstrap/bootstrap-wysihtml5.js')
script(src='js/app.js')
script(src='js/services.js')
script(src='js/controllers.js')
script(src='js/filters.js')
script(src='js/directives.js')
