//
   Created with JetBrains WebStorm.
   User: Maksim.Kanev
   Date: 6/3/13
   Time: 3:23 PM
   To change this template use File | Settings | File Templates.
header.header
    .container
        .row
            .span12
                .tail-top.muted
                    .clearfix
                        .pull-left
                            .contacts
                                address
                                    i.icon-map-marker
                                    b ул. Профессора Попова, д.5,
                                    Санкт-Петербург, Россия
                                span.mail
                                    i.icon-envelope-alt
                                    a(href='mailto: #') kurator@eltech.ru
                        .pull-right
                            span.slogan.text-right Something smart...
                .clearfix
                    .pull-left
                        .logo
                            a.logo_h(href='/')
                                img(src='http://placehold.it/370x140')
                    .pull-right
                        nav.nav.custom-nav.clearfix
                            ul.topnav
                                li.active.icon-home
                                    a(href='/') Главная
                                li.icon-file-alt
                                    a(href='#') О проекте
                                li.icon-edit
                                    a(href='#') Блог
                                li.icon-th-large
                                    a(href='#') Мероприятия
                                li.icon-envelope
                                    a(href='#') Контакты