//
   Created with JetBrains WebStorm.
   User: Maksim.Kanev
   Date: 6/3/13
   Time: 2:01 PM
   To change this template use File | Settings | File Templates.
head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='css/lib/isotope/isotope.css')
    link(rel='stylesheet', href='css/lib/bootstrap/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/lib/bootstrap/bootstrap-lightbox.min.css')
    link(rel='stylesheet', href='css/lib/bootstrap/bootstrap-wysihtml5.css')
    link(rel='stylesheet', href='css/app.css')