//
   Created with JetBrains WebStorm.
   User: Maksim.Kanev
   Date: 6/3/13
   Time: 4:47 PM
   To change this template use File | Settings | File Templates.
.hero-unit
    h1.hidden-phone= title
    h2.visible-phone= title
    p Welcome to #{title}
