//
   Created with JetBrains WebStorm.
   User: Maksim.Kanev
   Date: 6/3/13
   Time: 4:54 PM
   To change this template use File | Settings | File Templates.
p This is the partial for view 2.
p
    | Showing of 'interpolate' filter:
    | {{ 'Current version is v%VERSION%.' | interpolate }}
