//
   Created with JetBrains WebStorm.
   User: Maksim.Kanev
   Date: 6/3/13
   Time: 7:08 PM
   To change this template use File | Settings | File Templates.
p There are {{items.length}} articles
div#isoGridLightbox.lightbox.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .lightbox-header
        button.close(type='button', data-dismiss='lightbox', aria-hidden='true') &times;
    .lightbox-content
        img(src='http://placehold.it/600x400')
        .lightbox-caption
            p Your caption here
div.row
    div.inner
        div(iso-grid)
            div.span4.element(ng-repeat='item in items', iso-grid-repeat)
                .thumbnail
                    img(src='http://placehold.it/400x270')
                    .caption
                        p(style='text-align: justify;') {{item.text}}
                        p
                            a.btn.pull-right.span1(data-toggle='lightbox', href='#isoGridLightbox', rel='tooltip', title='Preview')
                                i.icon-eye-open
                div.text-center
                    h4 {{item.title}}
