doctype 5
html(lang='ru', ng-app='adgame')
    include includes/head.jade
    body
        .main-holder
            include includes/header.jade
            div.clearfix
                div.container(style='padding-top: 60px;')
                    include includes/hero.jade
                    block content
            include includes/footer.jade
    include includes/foot.jade