/* Sticky footer styles
----------------------------------------*/

html,
body {
    height: 100%;
}

body {
    background-color: #ebeff2;
    position: relative;
}

.main-holder {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.header {
    min-height: 30px;
    padding: 0 0 20px 0;
}

@media (max-width: 767px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 767px) {
    .header .pull-right, .header .pull-left {
        float: none;
    }
}

.header {
    position: relative;
    z-index: 99;
}

.contacts {
    font-size: 12px;
}

.slogan {
    font-style: italic;
    font-size: 12px;
}

.header .tail-top {
    margin: 0 -100% 20px;
    padding: 9px 100%;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .header .tail-top {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
}

.header .contacts address,
.header .contacts span {
    margin: 0 29px 0 0;
    display: inline-block;
    vertical-align: top;
}

.header .contacts i,
.header .contacts b {
    margin-right: 5px;
}

@media (max-width: 767px) {
    .header .contacts address, .header .contacts span {
        margin-bottom: 5px;
    }
}

.header .custom-nav {
    margin: 0;
}

.topnav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header ul.topnav {
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 1200px) {
    .topnav>li {
        margin-left: 12px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .topnav>li {
        margin-left: 2px;
    }
}

.topnav li {
    position: relative;
    float: left;
    min-height: 140px;
    min-width: 140px;
    background-color: #ffffff;
    margin-left: 20px;
    border-color: #1e8bc3 transparent transparent;
    color: cornflowerblue;
}

.topnav li:first-child {
    margin-left: 0 !important;
}

@media (min-width: 768px) and (max-width: 979px) {
    .topnav>li:before {
        font-size: 30px;
        top: 20px;
    }
}

.topnav li:before {
    position: absolute;
    left: 0;
    top: 33px;
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.topnav li:after {
    content: '';
    position: absolute;
    left: 50%;
    margin: -3px 0 0 -5px;
    top: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.topnav a {
    position: relative;
    display: block;
}

.topnav>li:hover:after,
.topnav>li.active:after {
    margin-top: 0;
    opacity: 1;
}


@media (max-width: 1200px) {
    .topnav>li>a {
        width: 102px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .topnav>li>a {
        width: 89px;
        height: 99px;
        padding-top: 60px;
        font-size: 14px !important;
    }
}

.topnav>li>a {
    padding: 10px 12px;
    border-top: 1px solid #eee;
    border-left: 1px solid #fff;
    color: #13a;
    text-decoration: none;
}

.topnav>li>a {
    padding: 92px 0 0 0;
    border: none;
    text-transform: uppercase;
    color: inherit !important;
    width: 140px;
    height: 140px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 979px) {
    .logo {
        width: 269px;
    }
}

@media (max-width: 767px) {
    .logo {
        text-align: center;
        margin-bottom: 20px;
        background-color: #f05a49;
    }
}

.footer {
    background: none;
    border: none;
    overflow: hidden;
    padding: 0;
}

.footer-widgets {
    margin: 0 -100%;
    padding: 38px 100% 45px;
    background-color: #3c474d;
    font-size: 13px;
    line-height: 20px;
    color: #b6bcc2;
}

.copyright {
    margin: 0 -100%;
    padding: 23px 100%;
    background-color: #282f33;
    color: #ffffff;
    font-size: 12px;
}

.copyright span {
    margin-right: 5px;
}

/* Isotope */
.inner .element {
    cursor: pointer;
    padding-bottom: 10px;
}

.inner .thumbnail {
    position: relative;
    overflow: hidden;
}

.inner .element .caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 95%;
    height: 100%;
    color: #fff !important;
}