@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700,300);

body {
    padding: 0 !important;
}

h2 {
    font-weight: 300 !important;
}

p {
    margin-bottom: 1.5em;
}

.main-holder {
    overflow: hidden;
}

.header {
    background: none;
    border: none;
    padding: 0 0 20px 0;
}

@media (max-width: 767px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 767px) {
    .header .pull-right, .header .pull-left {
        float: none;
    }
}

.header .tail-top {
    background-color: #ffffff;
    margin: 0 -100% 20px;
    padding: 9px 100%;
}

@media (max-width: 767px) {
    .header .tail-top {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
}

.header .contacts {
    font-size: 11px;
}

.header .contacts a {
    color: #f86924;
}

.header .contacts address, .header .contacts span {
    margin: 0 29px 0 0;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 767px) {
    .header .contacts address, .header .contacts span {
        margin-bottom: 5px;
    }
}

.header .contacts address:before, .header .contacts span:before {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
    text-align: center;
    background-color: #f5f5f5;
    font-family: FontAwesome;
    margin-right: 8px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}

.header .contacts address:before {
    content: '\f041';
}

.header .contacts .tel:before {
    content: '\f095';
}

.header .contacts .mail:before {
    content: '\f0e0';
}

.header .slogan {
    font-style: italic;
    font-size: 12px;
    line-height: 1.2em;
}

.nav__primary {
    margin: 0;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    margin-top: 17px;
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
    margin-top: 0;
}

.sf-menu>li {
    background: #ffffff;
    text-align: center;
    margin-left: 20px;
}

.ie8 .sf-menu>li {
    margin-left: 12px;
}

@media (max-width: 1200px) {
    .sf-menu>li {
        margin-left: 12px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .sf-menu>li {
        margin-left: 2px;
    }
}

.sf-menu>li:first-child {
    margin-left: 0 !important;
}

.sf-menu>li:before {
    position: absolute;
    left: 0;
    top: 33px;
    width: 100%;
    text-align: center;
    font-size: 48px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .sf-menu>li:before {
        font-size: 30px;
        top: 20px;
    }
}

.sf-menu>li:after {
    content: '';
    position: absolute;
    left: 50%;
    margin: -3px 0 0 -5px;
    top: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.ie8 .sf-menu>li:after {
    display: none;
}

.sf-menu>li.color-1 {
    color: #1e8bc3;
}

.sf-menu>li.color-1:after, .sf-menu>li.color-1 .sf-sub-indicator {
    border-color: #1e8bc3 transparent transparent;
}

.sf-menu>li.color-1 a:before, .sf-menu>li.color-1 a:after {
    background-color: #1e8bc3;
}

.sf-menu>li.color-1 ul {
    background-color: #1e8bc3;
}

.sf-menu>li.color-2 {
    color: #f86924;
}

.sf-menu>li.color-2:after, .sf-menu>li.color-2 .sf-sub-indicator {
    border-color: #f86924 transparent transparent;
}

.sf-menu>li.color-2 a:before, .sf-menu>li.color-2 a:after {
    background-color: #f86924;
}

.sf-menu>li.color-2 ul {
    background-color: #f86924;
}

.sf-menu>li.color-3 {
    color: #ff9f00;
}

.sf-menu>li.color-3:after, .sf-menu>li.color-3 .sf-sub-indicator {
    border-color: #ff9f00 transparent transparent;
}

.sf-menu>li.color-3 a:before, .sf-menu>li.color-3 a:after {
    background-color: #ff9f00;
}

.sf-menu>li.color-3 ul {
    background-color: #ff9f00;
}

.sf-menu>li.color-4 {
    color: #35bc7a;
}

.sf-menu>li.color-4:after, .sf-menu>li.color-4 .sf-sub-indicator {
    border-color: #35bc7a transparent transparent;
}

.sf-menu>li.color-4 a:before, .sf-menu>li.color-4 a:after {
    background-color: #35bc7a;
}

.sf-menu>li.color-4 ul {
    background-color: #35bc7a;
}

.sf-menu>li.color-5 {
    color: #f05a49;
}

.sf-menu>li.color-5:after, .sf-menu>li.color-5 .sf-sub-indicator {
    border-color: #f05a49 transparent transparent;
}

.sf-menu>li.color-5 a:before, .sf-menu>li.color-5 a:after {
    background-color: #f05a49;
}

.sf-menu>li.color-5 ul {
    background-color: #f05a49;
}

.sf-menu>li>a {
    padding: 92px 0 0 0;
    border: none;
    text-transform: uppercase;
    color: inherit !important;
    width: 140px;
    height: 140px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ie8 .sf-menu>li>a {
    width: 102px;
}

@media (max-width: 1200px) {
    .sf-menu>li>a {
        width: 102px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .sf-menu>li>a {
        width: 89px;
        height: 99px;
        padding-top: 60px;
        font-size: 14px !important;
    }
}

.sf-menu>li>a:before, .sf-menu>li>a:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #000000;
    z-index: 1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    filter: alpha(opacity=0);
}

.ie8 .sf-menu>li>a:before, .ie8 .sf-menu>li>a:after {
    display: none;
}

.sf-menu>li>a:before {
    top: 0;
}

.sf-menu>li>a:after {
    bottom: 0;
}

.sf-menu li li {
    font-family: 'Open Sans', sans-serif;
    background: none;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.no-rgba .sf-menu li li {
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-image: url(images/divider.png);
}

.sf-menu li ul {
    min-width: 210px;
}

.sf-menu li li a {
    padding: 13px 26px;
    border: none;
    color: #ffffff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.sf-menu>li:hover:after, .sf-menu>li.sfHover:after, .sf-menu>li.current-menu-item:after {
    margin-top: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

.sf-menu>li>a:hover, .sf-menu>li.sfHover>a, .sf-menu>li.current-menu-item>a {
    background: none;
}

.ie8 .sf-menu>li>a:hover, .ie8 .sf-menu>li.sfHover>a, .ie8 .sf-menu>li.current-menu-item>a {
    text-decoration: underline;
}

.sf-menu>li>a:hover:after, .sf-menu>li.sfHover>a:after, .sf-menu>li.current-menu-item>a:after, .sf-menu>li>a:hover:before, .sf-menu>li.sfHover>a:before, .sf-menu>li.current-menu-item>a:before {
    height: 6px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.sf-menu>li>a:hover:before, .sf-menu>li.sfHover>a:before, .sf-menu>li.current-menu-item>a:before {
    top: -6px;
}

.sf-menu>li>a:hover:after, .sf-menu>li.sfHover>a:after, .sf-menu>li.current-menu-item>a:after {
    bottom: -6px;
}

.ie8 .sf-menu>li.current-menu-item:after {
    display: block;
}

.ie8 .sf-menu>li.current-menu-item>a {
    text-decoration: none;
}

.ie8 .sf-menu>li.current-menu-item>a:after, .ie8 .sf-menu>li.current-menu-item>a:before {
    display: block;
}

.sf-menu li li>a:hover, .sf-menu li li.sfHover>a, .sf-menu li li.current-menu-item>a {
    background: #ffffff;
    color: #8d949a;
}

.sf-menu a.sf-with-ul {
    padding-right: 0;
}

.sf-sub-indicator {
    right: 50%;
    margin-right: -5px;
    background: none;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
}

a>.sf-sub-indicator {
    top: auto;
    bottom: 14px;
}

.sf-menu ul .sf-sub-indicator {
    right: 0;
    position: relative;
    margin: 0 0 1px 8px;
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #ffffff !important;
}

.sf-menu li li>a:hover .sf-sub-indicator, .sf-menu li li.sfHover>a .sf-sub-indicator, .sf-menu li li.current-menu-item>a .sf-sub-indicator {
    border-color: transparent transparent transparent #8d949a !important;
}

.sf-menu ul a>.sf-sub-indicator {
    top: 0;
    bottom: 0;
}

@media (min-width: 768px) and (max-width: 979px) {
    .logo {
        width: 269px;
    }
}

@media (max-width: 767px) {
    .logo {
        text-align: center;
        margin-bottom: 20px;
        background-color: #f05a49;
    }
}

.logo_h__txt {
    text-transform: uppercase;
}

.logo_link {
    font-weight: 300 !important;
    background-color: #f05a49;
    width: 370px;
    height: 140px;
    line-height: 118px !important;
    padding: 0 0 0 36px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo_link .inner {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1.2em;
}

.logo_link:hover {
    color: #ffffff;
}

.logo_tagline {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
    line-height: 1.2em;
    color: #ffffff;
    display: inline-block;
    padding: 0 0 8px 6px;
}

.slider-wrap {
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 30px;
}

.ie8 .slider-wrap {
    height: 336px;
}

.slider {
    overflow: visible;
    width: 68.376%;
}

@media (max-width: 480px) {
    .slider {
        display: none !important;
    }
}

.camera_wrap {
    margin-bottom: 0 !important;
}

.slider-wrap .camera_fakehover {
    background-color: #ffffff;
}

.cameraSlide img {
    margin: 0 !important;
}

.camera_caption {
    width: 370px;
    right: -370px;
    height: 100%;
    background-color: #ffffff;
    color: #8d949a;
}

.camera_caption.fadeFromRight, .camera_caption.moveFromRight {
    right: auto;
}

.ie8 .camera_caption {
    background-color: #ffffff;
    width: 298px;
    right: -298px;
}

@media (max-width: 1200px) {
    .camera_caption {
        width: 298px;
        right: -298px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .camera_caption {
        width: 229px;
        right: -229px;
    }
}

@media (max-width: 767px) {
    .camera_caption {
        width: 46%;
        right: -46%;
    }
}

.camera_caption>div {
    background: none;
    padding: 51px 30px 0 31px;
}

.ie8 .camera_caption>div {
    padding: 28px 20px 0 20px;
}

@media (max-width: 1200px) {
    .camera_caption>div {
        padding: 28px 20px 0 20px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .camera_caption>div {
        padding-top: 16px;
    }
}

@media (max-width: 767px) {
    .camera_caption>div {
        padding: 27% 10px 10px 10px;
    }
}

.camera_caption h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #f86924;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 16px;
    margin: 0 0 14px 0;
}

@media (max-width: 979px) {
    .camera_caption h4 {
        display: none;
    }
}

.camera_caption h2 {
    color: #1e8bc3;
    font-size: 40px;
    font-weight: 300 !important;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.ie8 .camera_caption h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

@media (max-width: 1200px) {
    .camera_caption h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .camera_caption h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }
}

@media (max-width: 767px) {
    .camera_caption h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
}

.camera_caption p {
    margin-bottom: 40px;
}

.ie8 .camera_caption p {
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .camera_caption p {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .camera_caption p {
        font-size: 13px;
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .camera_caption p {
        height: 40px;
        overflow: hidden;
    }
}

.ie8 .camera_caption .btn {
    padding: 8px 16px 9px !important;
    font-size: 15px !important;
}

@media (max-width: 1200px) {
    .camera_caption .btn {
        padding: 8px 16px 9px !important;
        font-size: 15px !important;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .camera_caption .btn {
        padding: 5px 14px 6px !important;
        font-size: 13px !important;
    }
}

@media (max-width: 767px) {
    .camera_caption .btn {
        display: none;
    }
}

.camera_caption [class^="icon-"], .camera_caption [class*=" icon-"] {
    width: 18px;
    height: 18px;
    line-height: 15px;
    border: 2px solid #e5e5e5;
    margin-right: 9px;
    float: left;
    display: block;
    vertical-align: top;
    text-align: center;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}

.camera_caption [class^="icon-"]:before, .camera_caption [class*=" icon-"]:before {
    font-size: 14px;
    line-height: 1.2em;
    color: #e5e5e5;
    width: auto;
}

.camera_target_content {
    overflow: visible;
}

.camera_wrap .camera_pag {
    position: absolute;
    right: -355px;
    bottom: 15px;
    width: 370px;
    height: 18px;
}

.ie8 .camera_wrap .camera_pag {
    width: 298px;
    right: -278px;
}

@media (max-width: 1200px) {
    .camera_wrap .camera_pag {
        width: 298px;
        right: -278px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .camera_wrap .camera_pag {
        bottom: 10px;
        right: -219px;
        width: 229px;
    }
}

@media (max-width: 767px) {
    .camera_wrap .camera_pag {
        width: 46%;
        right: -42%;
    }
}

.camera_wrap .camera_pag .camera_pag_ul {
    text-align: right;
}

.camera_wrap .camera_pag .camera_pag_ul li {
    margin: 0 0 0 9px;
    width: 14px;
    height: 14px;
    background: none;
    border: 2px solid #e5e5e5;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.camera_wrap .camera_pag .camera_pag_ul li span {
    display: none;
}

.camera_wrap .camera_pag .camera_pag_ul li:hover {
    background: #e5e5e5;
}

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
    border-color: #1e8bc3;
    background: #1e8bc3 !important;
}

.content-holder {
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    .content-holder {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#content {
    background-color: #ffffff;
    padding: 15px 0 50px 0;
}

.page-template-page-fullwidth-php #content {
    background: none;
    padding: 0;
}

.page-template-page-fullwidth-php #content .type-page h2 {
    margin-bottom: 20px;
}

.page-template-page-Portfolio2Cols-filterable-php #content, .page-template-page-Portfolio3Cols-filterable-php #content, .page-template-page-Portfolio4Cols-filterable-php #content {
    padding-left: 30px;
    padding-right: 30px;
}

.ie8 .page-template-page-Portfolio2Cols-filterable-php #content, .ie8 .page-template-page-Portfolio3Cols-filterable-php #content, .ie8 .page-template-page-Portfolio4Cols-filterable-php #content {
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 1200px) {
    .page-template-page-Portfolio2Cols-filterable-php #content, .page-template-page-Portfolio3Cols-filterable-php #content, .page-template-page-Portfolio4Cols-filterable-php #content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.single-portfolio #content {
    padding-left: 30px;
    padding-right: 30px;
}

.ie8 .single-portfolio #content {
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 1200px) {
    .single-portfolio #content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.single-portfolio #content .nocomments {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
}

.single-portfolio #content .single-pager {
    margin-left: 0;
    margin-right: 0;
}

.single-portfolio #content #respond h3 {
    padding-left: 0;
    padding-right: 0;
}

.single-portfolio #content #commentform {
    padding-left: 0;
    padding-right: 0;
}

.single-portfolio #content .comments-h {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
}

.single-portfolio #content .comment-list {
    padding-left: 0;
    padding-right: 0;
}

.error404 #content {
    padding: 0;
}

.error404-holder_num {
    color: #f86924;
}

.error404-holder_txt {
    padding-right: 30px;
}

@media (max-width: 767px) {
    .error404-holder_txt {
        padding: 0 20px;
    }
}

.title-section {
    padding: 20px 30px;
    background-color: #ffffff;
    margin-bottom: 30px;
    overflow: hidden;
}

.ie8 .title-section {
    margin-bottom: 19px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 1200px) {
    .title-section {
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.title-header {
    font-size: 24px;
    font-weight: 300 !important;
    overflow: visible;
    line-height: 1.2em;
    margin: 0 0 5px 0;
}

.title-desc {
    display: block;
    color: #999;
    font-size: 11px;
}

.breadcrumb__t {
    margin: 0;
    padding: 0;
    background: none;
}

.breadcrumb__t .divider {
    margin: 0 5px;
}

.breadcrumb__t li a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.post {
    padding: 0 30px;
}

.post__holder.type-skills {
    padding: 0 30px;
}

.ie8 .post__holder.type-skills {
    padding: 0 20px;
}

@media (max-width: 1200px) {
    .post__holder.type-skills {
        padding: 0 20px;
    }
}

.post__holder.type-clients {
    padding: 0 30px;
}

.ie8 .post__holder.type-clients {
    padding: 0 20px;
}

@media (max-width: 1200px) {
    .post__holder.type-clients {
        padding: 0 20px;
    }
}

.post__holder.type-clients .featured-thumbnail {
    float: left;
    margin-right: 20px;
}

.ie8 .post {
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 1200px) {
    .post {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.post-title {
    margin-bottom: 23px;
}

#content .post-title {
    font-size: 24px;
    font-weight: 300 !important;
}

.post-title a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.post_meta {
    border-color: #dcdcdc;
    padding: 12px 0 !important;
}

.post_meta a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.post_meta span {
    display: inline-block;
    line-height: 20px;
    padding-right: 15px;
}

@media (max-width: 767px) {
    .post_meta span {
        display: block;
    }
}

.post_meta .post_permalink {
    float: right;
}

@media (max-width: 1200px) {
    .post_meta .post_permalink {
        float: none;
    }
}

.post_meta .post_author a {
    text-transform: capitalize;
}

.post_meta i {
    font-size: 16px;
    margin-right: .5em;
    color: #b5b5b5;
}

.post_meta .pull-right {
    padding-right: 0;
    padding-left: 15px;
}

.post_content .excerpt {
    margin-bottom: 1.4em;
}

.search-results article {
    padding: 0 30px;
}

@media (max-width: 1200px) {
    .search-results article {
        padding: 0 20px;
    }
}

.pagination__posts {
    margin: 0;
    text-align: center;
}

.pagination__posts ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.pagination__posts ul li a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.share-buttons {
    padding: 0 30px;
}

@media (max-width: 1200px) {
    .share-buttons {
        padding: 0 20px;
    }
}

.post-author {
    margin: 0 30px 2em;
    padding: 5px 20px 20px;
    border: none;
    background: #e9e9e9;
}

@media (max-width: 1200px) {
    .post-author {
        margin: 0 20px;
    }
}

.post-author_h {
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 300 !important;
}

.post-author_h small {
    font-size: 1em;
    font-weight: 300;
}

.post-author_h a {
    text-transform: capitalize;
}

.post-author_link {
    margin-top: 1.5em;
}

.post-author_gravatar {
    float: left;
    margin: 5px 20px 10px 0;
}

.post-author_gravatar img {
    padding: 0;
    border: none;
    background: none;
}

#recent-author-posts h3 {
    padding: 0 30px;
    font-size: 36px;
    font-weight: 300 !important;
    line-height: 1.2em;
}

@media (max-width: 1200px) {
    #recent-author-posts h3 {
        padding: 0 20px;
    }
}

#recent-author-comments {
    padding: 0 30px;
    padding-top: 30px;
}

@media (max-width: 1200px) {
    #recent-author-comments {
        padding: 0 20px;
    }
}

#recent-author-comments h3 {
    font-size: 36px;
    font-weight: 300 !important;
    line-height: 1.2em;
}

.related-posts {
    padding: 0 30px;
}

@media (max-width: 1200px) {
    .related-posts {
        padding: 0 20px;
    }
}

.related-posts_h {
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 300 !important;
    margin-bottom: 20px;
}

.related-posts_item {
    font-size: 18px;
    line-height: 1.2em;
}

.nocomments {
    padding: 0 30px;
}

@media (max-width: 1200px) {
    .nocomments {
        padding: 0 20px;
    }
}

.faq-list {
    padding: 0 30px;
}

@media (max-width: 1200px) {
    .faq-list {
        padding: 0 20px;
    }
}

.page-template-page-archives-php .post-content {
    padding: 0 30px;
}

@media (max-width: 1200px) {
    .page-template-page-archives-php .post-content {
        padding: 0 20px;
    }
}

.testimonial {
    position: relative;
    padding: 30px;
    margin: 0 30px;
    margin-bottom: 35px;
    border: none;
    background: #e9e9e9;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.5em;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

@media (max-width: 1200px) {
    .testimonial {
        margin: 0 20px;
    }
}

.testimonial small {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.page-header {
    margin: 11px 30px 18px;
    border: none;
    padding: 0;
}

.team-holder .page-header {
    margin-left: 0;
    margin-right: 0;
}

.ie8 .page-header {
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 1200px) {
    .page-header {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.page-header h1 {
    font-size: 24px;
    font-weight: 300 !important;
    line-height: 1.2em;
    margin: 0;
}

.single-pager {
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.ie8 .single-pager {
    margin-left: 20px;
}

@media (max-width: 1200px) {
    .single-pager {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 480px) {
    .filter-wrapper .pull-right {
        float: none;
    }
}

.filter-wrapper strong {
    display: inline-block;
    padding: 8px 0;
    margin-right: 5px;
    float: left;
}

@media (max-width: 480px) {
    .filter-wrapper strong {
        padding: 5px 0 0 0;
    }
}

.filter-wrapper .nav {
    overflow: hidden;
}

.nav-pills {
    float: left;
}

@media (max-width: 480px) {
    .nav-pills {
        float: none;
    }
}

@media (max-width: 480px) {
    .nav-pills li {
        float: none;
    }
}

.nav-pills li a {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

@media (max-width: 480px) {
    .nav-pills li a {
        display: block;
        padding: 5px;
    }
}

.comments-h {
    padding: 0 30px;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 300 !important;
    line-height: 1.2em;
}

@media (max-width: 1200px) {
    .comments-h {
        padding: 0 20px;
    }
}

.comment-list {
    padding: 0 30px;
}

@media (max-width: 1200px) {
    .comment-list {
        padding: 0 20px;
    }
}

.comment .comment-body {
    margin-top: 10px;
    border: none;
    background: #e9e9e9;
}

.comment.bypostauthor .comment-body {
    background: #e9e9e9;
}

.comment-author .author {
    display: block;
    padding-top: 6px;
    width: 59px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}

#respond h3 {
    padding: 0 30px;
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 300 !important;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    #respond h3 {
        padding: 0 20px;
    }
}

#cancel-comment-reply-link {
    padding-left: 30px;
}

.ie8 #cancel-comment-reply-link {
    padding-left: 20px;
}

@media (max-width: 1200px) {
    #cancel-comment-reply-link {
        padding-left: 20px;
    }
}

#commentform {
    padding: 0 30px;
}

#commentform input[type="text"] {
    padding: 7px 16px;
}

@media (max-width: 1200px) {
    #commentform {
        padding: 0 20px;
    }
}

#sidebar {
    padding: 0;
}

#sidebar .widget {
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 31px 20px 30px 20px;
}

@media (max-width: 1200px) {
    #sidebar .widget {
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#sidebar .widget h3 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 300 !important;
}

#sidebar .widget ul {
    margin-left: 0;
}

#sidebar .widget ul li {
    list-style-type: none;
    margin-bottom: 11px;
}

#sidebar .widget ul li:before {
    content: '\f061';
    font-family: FontAwesome;
    font-size: 12px;
    color: #dedede;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    width: 16px;
    height: 16px;
    border: 2px solid #dedede;
    text-align: center;
    line-height: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

#sidebar .widget ul li a {
    color: #8d949a;
}

#sidebar .widget ul ul {
    margin-top: 11px;
    margin-left: 30px;
}

@media (max-width: 480px) {
    .error404 .search-form_it {
        width: 100%;
        height: 36px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.social li:before {
    display: none !important;
}

.comments-custom li {
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.comments-custom li:before {
    display: none !important;
}

.banners {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 31px 20px 30px 20px;
}

@media (max-width: 1200px) {
    .banners {
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#wp-calendar thead th {
    background: #e7e7e7;
}

.tagcloud a {
    font-size: 13px !important;
    line-height: 26px;
    color: #ffffff;
    background-color: #1e8bc3;
    padding: 0 10px;
    margin: 0 5px 8px 0;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.tagcloud a:hover {
    background-color: #ffffff;
    color: #1e8bc3;
    text-decoration: none;
}

.post-list li {
    padding: 0;
}

.widget .post-list li {
    margin-bottom: 20px !important;
}

.post-list li:before {
    content: '\f061';
    float: left;
    display: block;
    color: #ffffff;
    font-size: 12px;
    font-family: FontAwesome;
    line-height: 16px;
    text-align: center;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    margin: 0 11px 10px 0;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.widget .post-list li:before {
    display: none !important;
}

@media (max-width: 979px) {
    .post-list .featured-thumbnail {
        float: none;
        margin-right: 0;
    }
}

.post-list_h {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

.widget .post-list_h {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
}

.post-list_h a {
    color: #f86924;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.widget .post-list_h a {
    color: #f86924 !important;
}

.post-list_h a:hover {
    color: #ffffff;
    text-decoration: none;
}

.widget .post-list_h a:hover {
    color: #000000 !important;
}

.post-list time {
    font-size: 12px;
    color: #b6bcc2;
    font-style: italic;
}

.post-list .btn {
    background: #f86924 !important;
    border-color: #f86924 !important;
}

.post-list .btn:hover {
    color: #f86924 !important;
}

.flickr {
}

.flickr_li {
    float: left;
    width: 80px;
    margin: 0 15px 15px 0;
}

.ie8 .flickr_li {
    width: 63px;
}

@media (max-width: 1200px) {
    .flickr_li {
        width: 63px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .flickr_li {
        width: 75px;
    }

    .flickr_li:nth-child(2n) {
        margin-right: 0 !important;
    }
}

.flickr_li.nomargin {
    margin-right: 0 !important;
}

@media (min-width: 768px) and (max-width: 979px) {
    .flickr_li.nomargin {
        margin-right: 15px !important;
    }

    .flickr_li.nomargin:nth-child(2n) {
        margin-right: 0 !important;
    }
}

@media (max-width: 767px) {
    .flickr_li.nomargin {
        margin-right: 15px !important;
    }
}

.flickr_li .thumbnail {
    margin: 0;
    display: block;
    text-decoration: none;
    position: relative;
}

.flickr_li .thumbnail:before {
    content: '\f08e';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f86924;
    color: #ffffff;
    font-size: 24px;
    font-family: FontAwesome;
    line-height: 80px;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.ie8 .flickr_li .thumbnail:before {
    line-height: 63px;
}

@media (max-width: 1200px) {
    .flickr_li .thumbnail:before {
        line-height: 63px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .flickr_li .thumbnail:before {
        line-height: 75px;
    }
}

.flickr_li .thumbnail:hover:before {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.flickr_li .thumbnail:hover img {
    z-index: -1;
}

.flickr_li .thumbnail>img {
    margin: 0;
    width: 80px;
    height: 80px;
}

.ie8 .flickr_li .thumbnail>img {
    position: relative;
    width: 63px;
    height: 63px;
}

@media (max-width: 1200px) {
    .flickr_li .thumbnail>img {
        width: 63px;
        height: 63px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .flickr_li .thumbnail>img {
        width: 75px;
        height: 75px;
    }
}

.ie8 .flickr_li.nomargin {
    margin-right: 15px;
}

.ie8 .flickr_li img {
    height: auto;
}

@media (max-width: 767px) {
    .flickr_li {
        float: left !important;
        width: auto !important;
        margin: 0 14px 14px 0;
    }
}

.testimonials .testi-item {
    overflow: hidden;
    margin: 2em 0 0 0;
    padding: 0;
    background: none;
}

.testimonials .testi-item:first-child {
    margin-top: 0;
}

.testimonials .testi-item blockquote {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.testimonials .testi-item blockquote:before {
    display: none;
}

.testimonials .testi-item blockquote:after {
    display: none;
}

.testimonials .testi-item blockquote>a {
    position: relative;
    z-index: 2;
    color: #8d949a;
    text-decoration: none;
    overflow: hidden;
    vertical-align: top;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.testimonials .testi-item blockquote>a:hover {
    color: #000000;
}

.testimonials .testi-item .featured-thumbnail {
    position: relative;
    z-index: 2;
    margin: 0 20px 0 10px;
    width: 120px;
    height: 120px;
}

@media (max-width: 979px) {
    .testimonials .testi-item .featured-thumbnail {
        float: none;
        margin-right: 0;
        overflow: hidden;
    }
}

.testimonials .testi-item .testi-meta {
    font-size: 1em;
    display: block;
    padding-top: 22px;
    padding-left: 0;
    text-align: right;
}

.service-box {
    padding: 27px 30px 30px 32px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    display: block;
    color: #ffffff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ie8 .service-box {
    padding-left: 25px;
    padding-right: 25px;
}

@media (max-width: 1200px) {
    .service-box {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .service-box {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .service-box {
        margin-bottom: 20px;
        padding: 15px;
    }
}

.service-box.color-1 {
    background-color: #35bc7a;
}

.service-box.color-1.extra-btn .btn:hover:before {
    color: #35bc7a;
}

.service-box.color-2 {
    background-color: #f86924;
}

.service-box.color-2.extra-btn .btn:hover:before {
    color: #f86924;
}

.service-box.color-3 {
    background-color: #ff9f00;
}

.service-box.color-3.extra-btn .btn:hover:before {
    color: #ff9f00;
}

.service-box:before {
    font-family: FontAwesome;
    font-size: 72px;
    color: #ffffff;
}

.ie8 .service-box:before {
    font-size: 60px;
}

@media (max-width: 1200px) {
    .service-box:before {
        font-size: 60px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .service-box:before {
        font-size: 45px;
    }
}

@media (max-width: 767px) {
    .service-box:before {
        font-size: 40px;
        float: left;
        margin-right: 10px;
        position: relative;
        top: 8px;
    }
}

.service-box h2 {
    font-size: 32px;
    line-height: 1.2em;
    color: #ffffff;
    margin: 17px 0 24px 0;
}

.ie8 .service-box h2 {
    font-size: 28px;
}

@media (max-width: 1200px) {
    .service-box h2 {
        font-size: 28px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .service-box h2 {
        font-size: 23px;
        margin-bottom: 18px;
    }
}

@media (max-width: 767px) {
    .service-box h2 {
        margin-bottom: 10px;
    }
}

.service-box_txt {
    line-height: 20px;
}

@media (max-width: 767px) {
    .service-box_txt {
        margin-bottom: 10px;
    }
}

.service-box.extra-btn .btn {
    width: 41px;
    padding: 41px 0 0 0;
    height: 0;
    overflow: hidden;
    border: 2px solid #ffffff !important;
    background: none !important;
    position: relative;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    border-radius: 41px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.service-box.extra-btn .btn:hover {
    background: #ffffff !important;
}

.service-box.extra-btn .btn:hover:before {
    left: 0;
}

.service-box.extra-btn .btn:hover:after {
    left: 50px;
}

.service-box.extra-btn .btn:before, .service-box.extra-btn .btn:after {
    content: '\f061';
    width: 42px;
    font-size: 24px;
    font-family: FontAwesome;
    line-height: 41px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.service-box.extra-btn .btn:before {
    left: -50px;
}

.service-box.extra-btn .btn:after {
    left: 0;
    color: #ffffff;
}

.content_box {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 30px 100%;
    overflow: hidden;
    padding: 16px 30px 32px 30px;
}

.ie8 .content_box {
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 1200px) {
    .content_box {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.content_box h2 {
    margin-bottom: 20px;
}

.content_box.alt {
    min-height: 320px;
    padding: 34px 20px 0 400px;
}

@media (max-width: 979px) {
    .content_box.alt {
        padding-left: 20px;
        background-image: none !important;
    }
}

.content_box.alt h2 {
    font-size: 36px;
    line-height: 1.2em;
    margin-bottom: 36px;
}

.posts-grid.latest_projects {
    overflow: hidden;
}

.posts-grid.latest_projects li {
    float: left;
    width: 264px;
    margin: 0 18px 0 0;
    overflow: hidden;
}

.ie8 .posts-grid.latest_projects li {
    width: 210px;
    margin-right: 20px;
}

@media (min-width: 980px) and (max-width: 1200px) {
    .posts-grid.latest_projects li {
        width: 210px;
        margin-right: 20px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .posts-grid.latest_projects li {
        width: 156px;
    }
}

@media (max-width: 767px) {
    .posts-grid.latest_projects li {
        width: 47%;
        margin: 0 5% 20px 0;
        max-width: 264px;
    }

    .posts-grid.latest_projects li:nth-child(4n) {
        margin-right: 4%;
    }

    .posts-grid.latest_projects li:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 550px) {
    .posts-grid.latest_projects li {
        width: auto;
        float: none;
        margin: 0 0 20px 0;
    }
}

.posts-grid.latest_projects li:nth-child(4n) {
    margin-right: 0;
}

.posts-grid.latest_projects li.nomargin {
    margin-right: 0;
}

.posts-grid.latest_projects .post_meta {
    border: none;
    padding: 0 !important;
    color: #ffffff;
    font-size: 11px;
}

.ie8 .posts-grid.latest_projects .featured-thumbnail {
    width: 210px;
    height: auto;
}

@media (max-width: 1200px) {
    .posts-grid.latest_projects .featured-thumbnail {
        width: 210px;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .posts-grid.latest_projects .featured-thumbnail {
        width: 156px;
        height: auto;
    }
}

@media (max-width: 767px) {
    .posts-grid.latest_projects .featured-thumbnail {
        width: 100%;
        height: 197px;
    }
}

.posts-grid.team {
    margin-top: -25px;
}

.posts-grid.team li {
    margin-bottom: 0;
    margin-top: 25px;
}

.ie8 .posts-grid.team .featured-thumbnail {
    width: 210px;
}

.ie8 .posts-grid.team .featured-thumbnail img {
    width: auto;
}

.posts-grid.team h5 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2em;
}

.posts-grid.team h5 a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.posts-grid.team .excerpt {
    margin-bottom: 0;
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    opacity: 0;
    filter: alpha(opacity=0);
}

.ie8 .flip-container:hover .front h5, .ie8 .flip-container.hover .front h5 {
    z-index: -1;
}

.flip-container:hover .back, .flip-container.hover .back {
    opacity: 1;
    filter: alpha(opacity=100);
}

.flip-container, .front, .back {
    width: 264px;
    height: 248px;
}

.ie8 .flip-container, .ie8 .front, .ie8 .back {
    width: 215px;
    height: 197px;
}

@media (max-width: 1200px) {
    .flip-container, .front, .back {
        width: 215px;
        height: 197px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .flip-container, .front, .back {
        width: 156px;
        height: 147px;
    }
}

@media (max-width: 767px) {
    .flip-container, .front, .back {
        width: 100%;
        height: 197px;
    }
}

.flipper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.front h5 {
    position: absolute;
    left: 0;
    bottom: 31px;
    color: #ffffff;
    background-color: #ff9f00;
    margin: 0;
    padding: 5px 11px 7px;
    z-index: 3;
}

@media (min-width: 768px) and (max-width: 979px) {
    .front h5 {
        bottom: 20px;
    }
}

.ie8 .front .featured-thumbnail img {
    width: auto;
}

@media (max-width: 767px) {
    .front .featured-thumbnail img {
        width: 264px;
        height: 100%;
    }
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    background-color: #ff9f00;
    color: #ffedda;
    font-size: 12px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.ie8 .back {
    height: 198px;
}

.back .inner {
    padding: 33px 24px 0 28px;
}

.ie8 .back .inner {
    padding-top: 25px;
}

@media (max-width: 1200px) {
    .back .inner {
        padding-top: 25px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .back .inner {
        padding: 15px;
    }
}

.back h5 {
    margin: 0 0 -2px 0;
    line-height: 1.2em;
    color: #ffffff;
}

@media (min-width: 768px) and (max-width: 979px) {
    .back h5 {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .back .post_meta {
        display: none;
    }
}

.back .excerpt {
    line-height: 18px;
    margin-bottom: 21px;
}

.ie8 .back .excerpt {
    height: 53px;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .back .excerpt {
        height: 53px;
        overflow: hidden;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .back .excerpt {
        margin-bottom: 15px;
    }
}

.back .btn {
    background: #b06d00 !important;
    border: none !important;
    font-size: 12px;
    padding: 5px 15px;
}

.back .btn:hover {
    background: #ffffff !important;
    color: #b06d00;
}

.recent-posts.skills {
    overflow: hidden;
    margin: 0 !important;
}

.recent-posts.skills li {
    width: 333px;
    float: left;
    margin: 0 72px 31px 0;
}

.recent-posts.skills li:nth-child(2n) {
    margin-right: 0;
}

.recent-posts.skills li.nomargin {
    margin-right: 0;
}

.ie8 .recent-posts.skills li {
    width: 235px;
    margin-right: 25px;
}

@media (max-width: 1200px) {
    .recent-posts.skills li {
        width: 235px;
        margin-right: 25px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .recent-posts.skills li {
        width: 328px;
    }
}

@media (max-width: 767px) {
    .recent-posts.skills li {
        width: 46%;
        margin-right: 4%;
    }
}

@media (max-width: 480px) {
    .recent-posts.skills li {
        width: auto;
        margin-right: 0;
    }
}

.recent-posts.skills li.green:before {
    color: #35bc7a;
    border-color: #35bc7a;
}

.recent-posts.skills li.green:hover:before {
    background: #35bc7a;
}

.recent-posts.skills li.green h5 a {
    color: #35bc7a;
}

.recent-posts.skills li.blue:before {
    color: #1e8bc3;
    border-color: #1e8bc3;
}

.recent-posts.skills li.blue:hover:before {
    background: #1e8bc3;
}

.recent-posts.skills li.blue h5 a {
    color: #1e8bc3;
}

.recent-posts.skills li.red:before {
    color: #f86924;
    border-color: #f86924;
}

.recent-posts.skills li.red:hover:before {
    background: #f86924;
}

.recent-posts.skills li.red h5 a {
    color: #f86924;
}

.recent-posts.skills li.orange:before {
    color: #ff9f00;
    border-color: #ff9f00;
}

.recent-posts.skills li.orange:hover:before {
    background: #ff9f00;
}

.recent-posts.skills li.orange h5 a {
    color: #ff9f00;
}

.recent-posts.skills li:hover:before {
    color: #ffffff;
}

.recent-posts.skills li:before {
    font-size: 24px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    float: left;
    margin: 0 18px 10px 0;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.recent-posts.skills h5 {
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 400 !important;
    margin: 5px 0 5px 0;
}

.recent-posts.skills h5 a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.recent-posts.skills h5 a:hover {
    text-decoration: none;
    color: #000000 !important;
}

.recent-posts.skills .excerpt {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}

.recent-posts.clients {
    margin: -20px 0 0 0 !important;
}

@media (max-width: 480px) {
    .recent-posts.clients {
        margin-top: 0 !important;
    }
}

.recent-posts.clients li {
    float: left;
    width: 264px;
    margin: 17px 18px 0 0;
}

@media (max-width: 480px) {
    .recent-posts.clients li {
        margin-top: 0;
    }
}

.recent-posts.clients li:nth-child(4n) {
    margin-right: 0;
}

.recent-posts.clients li.nomargin {
    margin-right: 0;
}

.ie8 .recent-posts.clients li {
    width: 210px;
}

@media (max-width: 1200px) {
    .recent-posts.clients li {
        width: 210px;
    }
}

.recent-posts.clients h5 {
    display: none !important;
}

.recent-posts.clients .featured-thumbnail {
    margin: 0;
    float: none;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.recent-posts.clients .featured-thumbnail:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.footer {
    background: none;
    border: none;
    overflow: hidden;
    padding: 0;
}

@media (max-width: 767px) {
    .footer {
        padding: 0 20px;
    }
}

.footer-widgets {
    margin: 0 -100%;
    padding: 38px 100% 45px;
    background-color: #3c474d;
    font-size: 13px;
    line-height: 20px;
    color: #b6bcc2;
}

@media (max-width: 767px) {
    .footer-widgets {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.footer-widgets_h {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.2em;
    margin: 0 0 22px 0;
}

@media (max-width: 767px) {
    .footer-widgets_h {
        margin-top: 15px;
    }
}

.footer-widgets .textwidget {
    padding-right: 26px;
}

nav.footer-nav {
    margin-bottom: 0;
}

nav.footer-nav ul li a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

nav.footer-nav ul li a:hover {
    color: #f86924;
    text-decoration: none;
}

nav.footer-nav ul li.current_page_item a {
    color: #f86924;
    text-decoration: none;
}

.copyright {
    margin: 0 -100%;
    padding: 23px 100%;
    background-color: #282f33;
    color: #ffffff;
    font-size: 12px;
}

.copyright a {
    color: #ffffff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.copyright a:hover {
    text-decoration: none;
    color: #f86924;
}

@media (max-width: 767px) {
    .footer-text {
        margin-bottom: 5px;
    }
}

.footer-text .site-name {
    text-transform: uppercase;
}

.ie8 .wpcf7-form p.field input {
    height: 30px;
}

.google-map {
    background-color: #ffffff;
    font-size: 0;
    line-height: 0;
}

.hr {
    background: #c8c8c8;
}

.sm_hr {
    margin: 0 0 10px;
    background: #c8c8c8;
}

.list.styled.arrow2-list>ul {
    margin-bottom: 20px;
}

.list.styled.arrow2-list>ul li {
    margin-bottom: 9px;
}

.list.styled.arrow2-list>ul li:before {
    content: '\f061';
    display: inline-block;
    color: #dedede;
    font-size: 12px;
    font-family: FontAwesome;
    line-height: 16px;
    text-align: center;
    width: 16px;
    height: 16px;
    border: 2px solid #dedede;
    margin: 0 11px 0 0;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.list.styled.arrow2-list>ul li a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    padding: 7px 16px;
    border-color: #e9e9e9;
    background-color: #e9e9e9;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    background: none;
    border-color: #35bc7a;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type="reset"], input[type="submit"] {
    height: 36px;
    line-height: 1.2em;
    border-color: #35bc7a !important;
    background: #35bc7a !important;
}

input[type="reset"]:hover, input[type="submit"]:hover {
    color: #35bc7a !important;
}

#back-top {
    margin-bottom: 0;
}

#back-top-wrapper {
    right: 26px;
    bottom: 97px;
}

#back-top a {
    width: 41px;
    color: #f86924;
    border: 2px solid #f86924;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    border-radius: 41px;
}

#back-top a:hover {
    background-color: #f86924;
}

#back-top a:hover span:before {
    top: -50px;
}

#back-top a:hover span:after {
    top: 0;
}

#back-top a:hover span {
    background: none;
}

#back-top span {
    margin-bottom: 0;
    width: 41px;
    height: 41px;
    background: none;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    border-radius: 41px;
}

#back-top span:before, #back-top span:after {
    content: '\f062';
    font-size: 24px;
    font-family: FontAwesome;
    line-height: 41px;
    position: absolute;
    left: 0;
    width: 40px;
    text-align: center;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

#back-top span:before {
    top: 0;
    color: #f86924;
}

#back-top span:after {
    top: 50px;
    color: #ffffff;
}

.thumbnail {
    border: none;
    padding: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn {
    background: #1e8bc3 !important;
    border: 1px solid #1e8bc3 !important;
    text-shadow: none;
    text-transform: capitalize;
    color: #ffffff !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn:hover {
    background: transparent !important;
    color: #1e8bc3 !important;
}

.btn-large {
    font-size: 18px !important;
    padding: 11px 22px 12px !important;
}

.no-results {
    padding: 0 30px;
}

@media (max-width: 1200px) {
    .no-results {
        padding: 0 20px;
    }
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}