//
   Created with JetBrains WebStorm.
   User: Maksim
   Date: 6/4/13
   Time: 12:52 AM
   To change this template use File | Settings | File Templates.
div.row.visible-desktop(mosaic-grid)
    div.mosaic-block.span3.bar2(ng-repeat='item in items')
        span.points.btn.btn-large.disabled {{item.points}}
        a.mosaic-overlay(href='{{item.link}}', target='_blank')
            .details
                h4 {{item.title}}
                br
                p {{item.short}}
        .mosaic-backdrop
            img(src='http://placehold.it/300x400')
